.card-badi{
    max-width: 1900px;
    background-color:white;

}
.card {

    background-color: white;
    display: flex;
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    
}
.card-info{
    padding: 1.5rem;

}
.pipel-info{
    margin: 0;
    margin-bottom: 5px;
}

.div-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.btn {
    border: none;
    border-radius: 10px;
    background-color: burlywood;
    color: white;
    padding: 10px;
    cursor: pointer;
}